
.news_text{
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
  margin:0;
  line-height: 1;
  width: 80%;
  margin-top: 60px;
}
@media (min-width: 320px) and (max-width: 479px) {
  .news_text{
   width: 100%;
    margin-top: 40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1439px) {}